<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Paper - @ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Fondamento|Roboto" rel="stylesheet" />
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS do _Layout -->
    <link href="~/Content/WebPaper.css" rel="stylesheet" />


</head>
<body>

    <div class="headerContainer">

        <div class="title">
            @Html.ActionLink("Web Paper", "Index")
        </div>

        <div class="date">@DateTime.Now.DayOfWeek, @DateTime.Now.ToString("MMMM") @DateTime.Now.ToString("dd"), @DateTime.Now.Year</div>

    </div>

    <div class="bodyContainer">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - Web Paper</p>
        </footer>
    </div>

</body>

</html>

