@model WebNews_19089.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


<div class="changePassword col-8 row">

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal col-12", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-2"></div>
        <div class="col-6">
            <h4>Change Password Form</h4>
            <hr />
        </div>
        <div class="col-4"></div>

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="col-2"></div>
        <div class="col-8">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Type your current password." })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Type your new password." })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Retype your new password." })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-default changePasswordButton" />
                </div>
            </div>
        </div>
    }

</div>