@model WebNews_19089.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="manageAccount row">

    <div class="col-3"></div>
    <div class="col-6 manageAccountWelcome">
        <h2>Wecolme @Model.Name.</h2>
    </div>
    <div class="col-3"></div>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="col-3"></div>
    <div class="col-8">
        <h5>Change your account settings</h5>
        <hr />
        <p>
            <span class="bold">Name: </span> @Model.Name
        </p>
        <p>
            <span class="bold">Birthday: </span> @Model.Birthday.ToString("dd-MM-yyyy")
        </p>
        <p>
            <span class="bold">Email: </span> @Model.Email
        </p>
        <hr />
        <div class="changePasswordLink">
            <p>
                <span class="bold">
                    | @Html.ActionLink("Edit your information", "Edit", "UserProfile", new { email = Model.Email }, null) ||
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }

                    |

                </span>
            </p>
            <hr />
        </div>
    </div>
    <div class="col-1"></div>

    <div class="col-3"></div>
    <div class="commentsList col-8">
        @if (Model.CommentsList.Count != 0)
        {

            <h2>
                Comments
            </h2>

            foreach (var comment in Model.CommentsList)
            {

                <div class="comment">

                    <div class="commentHeaderContainer">

                        <p class="commentHeaderUser">
                            by @comment.UserProfile.Name
                        </p>

                        <p class="commentHeaderDate">
                            @comment.CommentDate.Date.ToString("dd-MM-yyyy")
                        </p>

                    </div>

                    <div class="commentBodyContainer">
                        @Html.Raw(comment.Content)
                    </div>

                    <div class="commentDeleteOption">
                        @if (User.IsInRole("Admin") || User.IsInRole("NewsEditor") || User.Identity.Name.Equals(comment.UserProfile.UserName))
                        {
                            @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.ID, email = User.Identity.Name, Page = "Manage" }, new { @class = "bold" })

                            <span> || </span>

                            @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.ID, email = User.Identity.Name, Page = "Manage" }, new { @class = "bold" })
                        }
                    </div>

                </div>

            }


        }
        else
        {
            <h2>
                No comments
            </h2>
        }
    </div>

</div>