@model WebNews_19089.Models.News

@{
    ViewBag.Title = Model.Title;
}

<div class="col-12 newsDetail row">

    <div class="newsDetailHeaderContainer col-6">

        <div class="newsDetailHeaderTitleContainer">

            <h1 class="newsTitle">
                @Html.DisplayFor(model => model.Title)
            </h1>



        </div>

        <div class="newsDetailHeaderCategoryContainer">
            <hr />
            <p class="bold">
                <span> - @Html.ActionLink(Model.Category.Name, "Index", new { category = Model.Category.Name, pageNum = 1 }) - </span>
            </p>
            <hr />
        </div>

        <div class="newsDetailHeaderImagesContainer">
            @foreach (var photo in Model.PhotosList)
            {
                <img src="~/Images/@photo.Name" />
            }
        </div>

        <div class="newsInfo row">

            <div class="newsAuthors col-6">
                <h4 class="bold">Authors:</h4>

                @{
                    bool isAuthor = false;

                    foreach (var author in Model.UsersProfileList)
                    {
                        <p>
                            - @Html.ActionLink(author.Name, "Index", "Manage", new { email = author.UserName }, null)
                        </p>

                        if (User.Identity.Name == author.UserName)
                        {
                            isAuthor = true;
                        }
                    }

                    if (isAuthor || User.IsInRole("Admin") || User.IsInRole("NewsEditor"))
                    {
                        <p class="addAuthor">@Html.ActionLink("> Add another author", "AddAuthor", "News", new { id = Model.ID }, null)</p>
                    }

                    if (User.IsInRole("Admin") || User.IsInRole("NewsEditor"))
                    {
                        <p class="addAuthor">@Html.ActionLink("> Remove an author", "RemoveAuthor", "News", new { id = Model.ID }, null)</p>
                    }
                }

            </div>

            <div class="newsDate col-6">
                <p class="bold date">@Model.NewsDate.ToString("MM-dd-yyyy")</p>
                <p class="time">@Model.NewsDate.ToString("hh:mm:ss tt")</p>
                
                @if (User.IsInRole("Admin") || User.IsInRole("NewsEditor") || isAuthor)
                {

                    <div class="newsOptions bold">
                        <h4 class="bold">
                            News options:
                        </h4>

                        <div class="newsOptionsLinks">

                            <span>|</span>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "newsOptionLink" })
                            <span>|</span>

                            @if (User.IsInRole("Admin"))
                            {

                                <span>|</span>
                                @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "newsOptionLink" })
                                <span>|</span>

                            }

                        </div>
                    </div>
                }

            </div>

        </div>


    </div>


    <div class="newsDetailBodyContainer col-6">
        <p class="newsDescription">
            @Model.Description
        </p>

        <div class="newsDetailBody">
            @Html.Raw(Model.Content)
        </div>
    </div>

</div>


<div class="col-12 newsCommentsContainer">

    @if (Request.IsAuthenticated)
    {

        @Html.Partial("../Comments/_CommentPartialView", new WebNews_19089.Models.Comments { NewsFK = Model.ID })
    }
    else
    {
        <p class="bold">><a href="@Url.Action("Login","Account",null)"> Log In/Register to comment.  </a></p>
        <hr />
    }

    <div class="commentsList">
        @if (Model.CommentsList.Count != 0)
        {

            <h2>
                Comments
            </h2>

            foreach (var comment in Model.CommentsList)
            {

                <div class="comment">

                    <div class="commentHeaderContainer">

                        <p class="commentHeaderUser">
                            by @Html.ActionLink(comment.UserProfile.Name, "Index", "Manage", new { email = comment.UserProfile.UserName }, null)
                        </p>

                        <p class="commentHeaderDate">
                            @comment.CommentDate.Date.ToString("dd-MM-yyyy")
                        </p>

                    </div>

                    <div class="commentBodyContainer">
                        @Html.Raw(comment.Content)
                    </div>

                    <div class="commentDeleteOption">
                        @if (User.IsInRole("Admin") || User.IsInRole("NewsEditor") || User.Identity.Name.Equals(comment.UserProfile.UserName))
                        {
                            if (User.Identity.Name.Equals(comment.UserProfile.UserName))
                            {
                                @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.ID }, new { @class = "bold" })

                                <span> || </span>
                            }

                            @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.ID }, new { @class = "bold" })
                        }
                    </div>

                </div>

            }


        }
        else
        {
            <h2>
                No comments
            </h2>
        }
    </div>
</div>
