@model WebNews_19089.Models.News

@{
    ViewBag.Title = Model.Title;
}

<div class="col-12 newsDetail row">

    <div class="newsDetailHeaderContainer col-6">

        <div class="newsDetailHeaderTitleContainer">

            <h1 class="newsTitle">
                @Html.DisplayFor(model => model.Title)
            </h1>



        </div>

        <div class="newsDetailHeaderImagesContainer">
            @foreach (var photo in Model.PhotosList)
            {
                <img src="~/Images/@photo.Name" />
            }
        </div>

    </div>


    <div class="newsDetailBodyContainer col-6">
        <p class="newsDescription">
            @Model.Description
        </p>

        <div class="newsDetailBody">
            @Html.Raw(Model.Content)
        </div>
    </div>

</div>


<div class="col-12 newsCommentsContainer">

    @if (Request.IsAuthenticated)
    {

        @Html.Partial("../Comments/_CommentPartialView", new WebNews_19089.Models.Comments { NewsFK = Model.ID })
    }
    <div class="commentsList">
        @if (Model.CommentsList.Count != 0)
        {

            <h2>
                Comments
            </h2>

            foreach (var comment in Model.CommentsList)
            {

                <div class="comment">

                    <div class="commentHeaderContainer">

                        <p class="commentHeaderUser">
                            by @comment.UserProfile.Name
                        </p>

                        <p class="commentHeaderDate">
                            @comment.CommentDate.Date.ToString("dd-MM-yyyy")
                        </p>

                    </div>

                    <div class="commentBodyContainer">
                        @Html.Raw(comment.Content)
                    </div>

                </div>

            }


        }
        else
        {
            <h2>
                No comments
            </h2>
        }
    </div>
</div>
